<p id="notice"><%= notice %></p>
<div class="card w-50">
  <div class="card-body">
    <p>
      <strong>Group name:</strong>
      <%= @group.group_name %>
    </p>

    <% if policy(@group).update? %>
      <%= link_to 'Edit', edit_group_path(@group), class:"btn btn-secondary btn-sm" %> |
    <% end %>
    <%= link_to 'Back', groups_path, class:"btn btn-primary btn-sm" %>
  </div>
</div>
